@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "muli", "sans-serif";
}
.navbar {
  background-color: #fff !important;
}
.image {
  border-radius:50%;
   width:50%;
    height:50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: #536387 !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.navbar a:hover {
  color: #3498db !important;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.brand-name {
  margin-left: 3px;
  margin-right: 3px;
  color: #3498db !important;
}
.h1_font {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1.9rem !important;
  color: #536387 !important;
}
.h2_font {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
}
.want_to_know_more {
  display: flex;
  align-content: center;
  justify-content: center;
 
  padding: 5px 10px 5px 10px;
}
.ui_icon {
  width: 50px;
  height: 50px;
  margin-left: 10%;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
  .h1_font {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.5rem !important;
  }
  .h2_font {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 0.9rem;
  }
  .ui_icon {
    width: 40px;
    height: 40px;
    margin-left: 20%;
  }
}
@media (max-width: 400px) {
  .navbar-brand {
    font-size: 1rem !important;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
  .h1_font {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem !important;
  }
  .h2_font {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 0.7rem;
  }
  .ui_icon {
    width: 25px;
    height: 25px;
    margin-left: 16%;
  }
}
